<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>MyWebProject</display-name>
	<servlet>
		<description>
		</description>
		<display-name>MyServlet</display-name>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>
		Controller.MyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NewServlet</display-name>
		<servlet-name>NewServlet</servlet-name>
		<servlet-class>
		NewServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Jyoti</display-name>
		<servlet-name>Jyoti</servlet-name>
		<servlet-class>
		Controller.Jyoti</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>testservlet</display-name>
		<servlet-name>testservlet</servlet-name>
		<servlet-class>
		testservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MyServlet1</display-name>
		<servlet-name>MyServlet1</servlet-name>
		<servlet-class>
		MyServlet1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Myservlet1</display-name>
		<servlet-name>Myservlet1</servlet-name>
		<servlet-class>
		Controller.Myservlet1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MyServlet2</display-name>
		<servlet-name>MyServlet2</servlet-name>
		<servlet-class>
		Controller.MyServlet1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>davinder</display-name>
		<servlet-name>davinder</servlet-name>
		<servlet-class>
		davinder</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddProduct1</display-name>
		<servlet-name>AddProduct1</servlet-name>
		<servlet-class>
		Add_product_controller.AddProduct1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Search1</display-name>
		<servlet-name>Search1</servlet-name>
		<servlet-class>
		Add_product_controller.Search1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Servlet2</display-name>
		<servlet-name>Servlet2</servlet-name>
		<servlet-class>
		Controller2.Servlet2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MyServlet3</display-name>
		<servlet-name>MyServlet3</servlet-name>
		<servlet-class>
		Controller3.MyServlet3</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Testservlet1</display-name>
		<servlet-name>Testservlet1</servlet-name>
		<servlet-class>
		Testservlet1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Testservlet2</display-name>
		<servlet-name>Testservlet2</servlet-name>
		<servlet-class>
		Testservlet2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Testservlet4</display-name>
		<servlet-name>Testservlet4</servlet-name>
		<servlet-class>
		Testservlet4</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Testservlet5</display-name>
		<servlet-name>Testservlet5</servlet-name>
		<servlet-class>
		Testservlet5</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>delete</display-name>
		<servlet-name>delete</servlet-name>
		<servlet-class>
		add.delete</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>displayall</display-name>
		<servlet-name>displayall</servlet-name>
		<servlet-class>
		add.displayall</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DocAdd</display-name>
		<servlet-name>DocAdd</servlet-name>
		<servlet-class>
		add.DocAdd</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>update</display-name>
		<servlet-name>update</servlet-name>
		<servlet-class>
		add.update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Upadate</display-name>
		<servlet-name>Upadate</servlet-name>
		<servlet-class>
		add.Upadate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DepartmentBean</display-name>
		<servlet-name>DepartmentBean</servlet-name>
		<servlet-class>
		Add_bean.DepartmentBean</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Department_DAO</display-name>
		<servlet-name>Department_DAO</servlet-name>
		<servlet-class>
		Add_DAL.Department_DAO</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Department</display-name>
		<servlet-name>Department</servlet-name>
		<servlet-class>
		Department_Controller.Department</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PatientBean</display-name>
		<servlet-name>PatientBean</servlet-name>
		<servlet-class>
		beans.PatientBean</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserBean</display-name>
		<servlet-name>UserBean</servlet-name>
		<servlet-class>
		beans.UserBean</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Constant</display-name>
		<servlet-name>Constant</servlet-name>
		<servlet-class>
		controller_last.Constant</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserDAO</display-name>
		<servlet-name>UserDAO</servlet-name>
		<servlet-class>
		controller_last.UserDAO</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserDaoConnection</display-name>
		<servlet-name>UserDaoConnection</servlet-name>
		<servlet-class>
		controller_last.UserDaoConnection</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginBean</display-name>
		<servlet-name>LoginBean</servlet-name>
		<servlet-class>
		beans.LoginBean</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PatientDetails</display-name>
		<servlet-name>PatientDetails</servlet-name>
		<servlet-class>
		HMSModel.PatientDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/proceed</url-pattern> 
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewServlet</servlet-name>
		<url-pattern>/NewServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Jyoti</servlet-name>
		<url-pattern>/Jyoti</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>testservlet</servlet-name>
		<url-pattern>/testservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyServlet1</servlet-name>
		<url-pattern>/MyServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Myservlet1</servlet-name>
		<url-pattern>/Myservlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyServlet2</servlet-name>
		<url-pattern>/MyServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>davinder</servlet-name>
		<url-pattern>/davinder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProduct1</servlet-name>
		<url-pattern>/AddProduct1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Search1</servlet-name>
		<url-pattern>/Search1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet2</servlet-name>
		<url-pattern>/Servlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyServlet3</servlet-name>
		<url-pattern>/MyServlet3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Testservlet1</servlet-name>
		<url-pattern>/Testservlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Testservlet2</servlet-name>
		<url-pattern>/Testservlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Testservlet4</servlet-name>
		<url-pattern>/Testservlet4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Testservlet5</servlet-name>
		<url-pattern>/Testservlet5</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>displayall</servlet-name>
		<url-pattern>/displayall</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DocAdd</servlet-name>
		<url-pattern>/DocAdd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Upadate</servlet-name>
		<url-pattern>/Upadate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DepartmentBean</servlet-name>
		<url-pattern>/DepartmentBean</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Department_DAO</servlet-name>
		<url-pattern>/Department_DAO</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Department</servlet-name>
		<url-pattern>/Department</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PatientBean</servlet-name>
		<url-pattern>/PatientBean</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserBean</servlet-name>
		<url-pattern>/UserBean</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Constant</servlet-name>
		<url-pattern>/Constant</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDAO</servlet-name>
		<url-pattern>/UserDAO</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDaoConnection</servlet-name>
		<url-pattern>/UserDaoConnection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginBean</servlet-name>
		<url-pattern>/LoginBean</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PatientDetails</servlet-name>
		<url-pattern>/PatientDetails</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>test.html</welcome-file>
	</welcome-file-list>
</web-app>
